*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.Imagebar{
    width: 100%;
    
    position: relative;
}

.Imagebar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 1103px;
    background-color: white;
    position:absolute;
    bottom: 1px;
    left: 80px;
    
}
.Imagebar ul li{
    list-style: none;
    padding-bottom: 0.5rem;
    text-align: center;
    float: left;
    clear: both;
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #10578B;
    font-weight: bold;
    cursor: pointer;
}

.Imagebar span{
    font-size: 32px;
    width: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left: 110px;
    white-space: nowrap;
}
.dropdown__menu,.selected {
    width: 90%;
    margin: 0 auto;
    border: none;
    background-color: white;
}
.dropdown__menu li,.selected{
    border: none;
    border-bottom: 1px solid #D3D3D3;
    list-style: none;
    color: #10578B;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    padding: 0.3rem 1rem;

}
.dropdown__menu{
    display: block;
}
.selected{
    width: 80%;
    background-color: #EDF1F4;
    border: 1px solid #D3D3D3 !important;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    position: relative;
}
.selected span img{
    width: 16px;
    height: 16px;
    float: right;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.dropdown__menu {
    	box-shadow: 0 0 5px 1px #cccc;
        border-radius: 3px;
}
@media (min-width:1680px) {
    .Imagebar img{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 50% 50%;
        }
    .Imagebar ul{
        position:absolute;
    bottom: 1px;
    left: 15%;
    
    }
}
@media (min-width:1024px) {
    .Imagebar img{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 50% 50%;
        }
    .Imagebar ul{
        width: 990px;
        position: absolute;
    bottom: 1px;
    left: 14px;
    
    }
}

/* Mobile-View */
@media screen and (max-width: 480px) {
    .Imagebar-image{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 0% 50%;
        }
    .Imagebar ul{
        display: none;
    }
    .selected{
        margin-top: 0.5rem;
        display: block;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    }
    /* .Imagebar img{
        max-width:100%;
        height: 200px;
        object-fit: fill;
    } */
    .Imagebar span{
        font-size: 25px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         white-space:normal;
    }
    
}

#comp-ka3nn8iy {
    --lnw: 4px;
    --brd: 4,81,132;
    --alpha-brd: 1;
    transform-origin: center 2px;
}