


center .ln-icon{
    color: var(--body-link-color);
    padding: 5px;
    
}
center .ln-icon:hover{
    color: #000;
}


center .insta-icon{
    padding: 5px;
    color: #d32f2f;
       
}
center .insta-icon:hover{
    color: #000;
}

center .twitter-icon{
    color: #00ACEE;
    padding: 5px;
}
center .twitter-icon:hover{
    color: #000;
}


center .facebook-icon{
    padding: 5px;
    color: #3B5998;    
}
center .facebook-icon:hover{
color: #000;
}