


.backdrop { 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu .wef-bfltzr {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    outline: 0px;
    z-index: 1400;
    max-height: 100vh;
    background: rgb(242, 249, 254);
    color: inherit;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    max-width: 28rem;
}

.menu-slide.close{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-1rem) ;
    transition: all 300ms;
    width: 0;
}
.menu-slide.open{
    opacity: 1;
    width: auto;
    visibility: visible;
    transform: translateX(0rem) ;
    transition: 500ms;
}


.menu *,
.menu *::after,
.menu *::before {
    border-width: 0;
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.menu {
    cursor: pointer;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    
}

body {
    --list-link: #005c9c;
    --text-default: #141414;
    --event-background-color: #ffffff;
    --event-player-background-color: #ffffff;
    --event-secondary-background-color: #ffffff;
    --body-link-color: #005c9c;
    --header-background-color: #00538f;
    --header-dark-background-color: darken(#00538f, 8%);
    --header-border-color: rgba(#00538f, 0.6);
    --body-button-color: #005c9c;
}
body {
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #141414;
    font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body {
    font-size: 1.125em;
}
body {
    margin: 0;
    padding: 0;
}
:root {
    --button-border-width: 2px;
}

.menu .wef-1c5qjkw {
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.375rem;
    width: 32px;
    height: 32px;
    font-size: 12px;
    position: absolute;
    top: 1.25rem;
    right: 12px;
    left: 1.25rem;
}
.menu .wef-1c5qjkw:focus, .menu .wef-1c5qjkw[data-focus] {
    box-shadow: #0074c7 0px 0px 0px 3px;
}

.menu .wef-1c5qjkw:active, .menu .wef-1c5qjkw[data-active] {
    background: rgba(0, 0, 0, 0.08);
}

.menu .wef-1c5qjkw:hover, .menu .wef-1c5qjkw[data-hover] {
    background: rgba(0, 0, 0, 0.06);
}

.menu .wef-bp2r9n:focus, .menu .wef-bp2r9n[data-focus] {
    box-shadow: rgb(66 153 225 / 60%) 0px 0px 0px 3px;
}
.menu .wef-bp2r9n:hover, .menu .wef-bp2r9n[data-hover] {
    opacity: 0.8;
}
.menu .wef-1e6xawk:hover, .menu .wef-1e6xawk[data-hover] {
    opacity: 0.8;
}
.menu .wef-y705st:hover, .menu .wef-y705st[data-hover] {
    opacity: 0.8;
}
.menu .wef-1845p8s:hover, .menu .wef-1845p8s[data-hover] {
    opacity: 0.8;
}
.menu .wef-erlri7:hover, .menu .wef-erlri7[data-hover] {
    opacity: 0.8;
}
.menu .wef-fxxg6w:hover, .menu .wef-fxxg6w[data-hover] {
    opacity: 0.8;
}
.menu button,
.menu input,
.menu optgroup,
.menu select,
.menu textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

.menu button,
.menu input,
.menu optgroup,
.menu select,
.menu textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.menu [role="button"],
.menu button {
    cursor: pointer;
}

.menu button {
    background: transparent;
    padding: 0;
}

.menu button,
.menu select {
    text-transform: none;
}

.menu button,
.menu input {
    overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
input {
    line-height: normal;
}


.menu .wef-onkibi {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
    
}

.menu audio,
.menu canvas,
.menu embed,
.menu iframe,
.menu img,
.menu object,
.menu svg,
.menu video {
    display: block;
    /* vertical-align: middle; */
}

svg:not(:root) {
    overflow: hidden;
}

.menu .wef-1fibqux {
    padding: 0.5rem 1.25rem 2.5rem;
    flex: 1 1 0%;
    overflow: auto;
    margin-top: 4rem;
}

.menu .wef-6detrv::before {
    background: var(--border-color,#1F1F1F);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 4px;
}

.menu .wef-6detrv {
    border-top-color: var(--border-color,#1F1F1F);
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-top-width: 1px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

.menu .wef-1pkwypy {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.25;
    transition: all 200ms ease-in-out 0s;
    color: var(--border-color,#1F1F1F);
    font-size: 14px;
}

.menu h1,
.menu h2,
.menu h3,
.menu h4,
.menu h5,
.menu h6 {
    font-size: inherit;
    font-weight: inherit;
}

.menu blockquote,
.menu body,
.menu dd,
.menu dl,
.menu figure,
.menu h1,
.menu h2,
.menu h3,
.menu h4,
.menu h5,
.menu h6,
.menu hr,
.menu p,
.menu pre {
    margin: 0;
}

h4 {
    display: block;
    margin-block-start: 0.5rem;
    margin-block-end: 0.4rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.menu .wef-gg4vpm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.menu .wef-vlfsa4 {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
    transform: rotate(
270deg
);
    margin-left: auto;
}

.menu .wef-1br6ptk {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.menu .wef-dhwils {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
    font-weight: 600;
}

.menu a {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}

a {
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    color: var(--body-link-color);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.menu .wef-1br6ptk > :not(style) ~ :not(style) {
    margin-top: 0.75rem;
    margin-left: 0px;
}

.menu .wef-1ls42ek {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.menu .wef-bp2r9n {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(68, 90, 163);
}

.menu .wef-yekspl {
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
}

/* :not(svg) {
    transform-origin: 0px 0px;
} */

.menu .wef-1ls42ek > *:not(style) ~ *:not(style) {
    margin-left: 1rem;
    margin-top: 0;
}

.menu .wef-1e6xawk {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(83, 169, 221);
}

.menu .wef-yekspl {
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
}

.menu .wef-y705st {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(53, 121, 177);
}

.menu .wef-1845p8s {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(207, 60, 52);
}

.menu .wef-erlri7 {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
}

.menu .wef-fxxg6w {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.menu .wef-zcdewt {
    font-weight: 600;
}
.menu .wef-nnzi91 {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
}




.menu .wef-zcdewt {
    font-weight: 600;
}
.menu body, .menu blockquote, .menu dl, .menu dd, .menu h1, .menu h2, .menu h3, .menu h4, .menu h5, .menu h6, .menu hr, .menu figure, .menu p, .menu pre {
    margin: 0;
}
.menu *, .menu *::before, .menu *::after {
    border-width: 0;
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.menu .wef-nnzi91 {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
}

.menu a {
    color: rgb(0, 116, 199);
}

.menu a {
    color: rgb(0, 116, 199);
}
.menu a {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}
a {
    text-decoration: none;
    color: inherit;
    color: var(--body-link-color);
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}




.menu {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    --removed-body-scroll-bar-size: 17px;
}



.menu-slide{
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: scroll;
}

.menu .wef-101qvj8 {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
    transform: rotate(90deg);
    margin-left: auto;
}

.menu-link{
    font-size: 14px;
    line-height: 1rem;
}