.boxOneClose{
   
    transition: height 500ms ease-out;
    height: 0;

}
.boxOneOpen{
    transition: height 1s ease-out;
    height: 1304px; ;
    
}
.boxTwoClose{
   
    transition: height 500ms ease-out;
    height: 0;

}
.boxTwoOpen{
    transition: height 1s ease-out;
    height: 1000px; ;
    
}

.normal{

    transform: rotate(0deg);
    transition: transform 400ms linear;
}
.rotated{
    
    transform: rotate(180deg);
  transition: transform 400ms linear;
}

@media (max-width: 600px) {
    .boxOneOpen{
        height: 1800px;
    }
    .boxTwoOpen{
        height: 1557px;
    }
}