.boxClose{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all 500ms;
    height: 0;

}
.boxOpen{
    visibility: visible;
    opacity: 1;
    height:auto;
    transform: translateY(0);
    transition:all 500ms;
}
