*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.About-Imagebar{
    width: 100%;
    
    position: relative;
}

.About-Imagebar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    width: 1103px;
    background-color: white;
    position:absolute;
    bottom: 1px;
    left: 80px;
    
}
.About-Imagebar ul li{
    list-style: none;
    padding-bottom: 0.5rem;
    text-align: center;
    float: left;
    clear: both;
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #10578B;
    font-weight: bold;
    cursor: pointer;
}

.About-Imagebar span{
    font-size: 32px;
    width: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left: 110px;
    white-space: nowrap;
}
.dropdown_menu.close{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all 500ms;
    height: 0;

}
.dropdown_menu.open{
    
    visibility: visible;
    opacity: 1;
    height:auto;
    transform: translateY(0);
    transition:all 500ms;
    
}
.dropdown_menu,.selected {
    width: 90%;
    margin: 0 auto;
    border: none;
    background-color: white;
}
.dropdown_menu li,.selected{
    border: none;
    border-bottom: 1px solid #D3D3D3;
    list-style: none;
    color: #10578B;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    padding: 0.3rem 1rem;

}
.dropdown_menu{
    display: block;
}
.selected{
    width: 80%;
    background-color: #EDF1F4;
    border: 1px solid #D3D3D3 !important;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    position: relative;
}
.selected span img{
    width: 16px;
    height: 16px;
    float: right;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.dropdown_menu {
    	box-shadow: 0 0 5px 1px #cccc;
        border-radius: 3px;
}
@media (max-width:1680px) {
    .About-Imagebar img{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 50% 50%;
        }
    .About-Imagebar ul{
        position:absolute;
    bottom: 1px;
    left: 15%;
    
    }
}
@media (max-width:2000px) {
   
    .About-Imagebar ul{
        width: 1480px;
        position: absolute;
    bottom: 1px;
    left: 215px;
    
    }
}
@media (max-width:1700px) {
   
    .About-Imagebar ul{
        
        position: absolute;
    bottom: 1px;
    left: 85px;
    
    }
}
@media (max-width:1440px) {
   
    .About-Imagebar ul{
        width: 1200px;
        position: absolute;
    bottom: 1px;
    left: 116px;
    
    }
}
@media (max-width:1366px) {
   
    .About-Imagebar ul{
        width: 1080px;
        position: absolute;
    bottom: 1px;
    left: 136px;
    
    }
}
@media (max-width:1280px) {
    .About-Imagebar img{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 50% 50%;
        }
    .About-Imagebar ul{
        width: 1070px;
        position: absolute;
    bottom: 1px;
    left: 97px;
    
    }
}
@media (max-width:1024px) {
    .About-Imagebar img{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 50% 50%;
        }
    .About-Imagebar ul{
        width: 990px;
        position: absolute;
    bottom: 1px;
    left: 14px;
    
    }
}
/* Mobile-View */
@media (max-width:992px) {
   
    .About-Imagebar ul{
        width: 929px;
        position: absolute;
    bottom: 1px;
    left: 27px;
    
    }
}
@media (max-width: 800px){
    .About-Imagebar ul {
        width: 747px;
        position: absolute;
        bottom: 1px;
        left: 26px;
    }}
@media (max-width: 768px){
.About-Imagebar ul {
    width: 723px;
    position: absolute;
    bottom: 1px;
    left: 24px;
}
}
@media (max-width: 720px){
.About-Imagebar ul {
    width: 700px;
    position: absolute;
    bottom: 1px;
    left: 10px;
}}
@media (max-width: 650px){
    .About-Imagebar ul {
        width: 620px;
        
    }}
@media (max-width: 605px){
    .About-Imagebar ul {
        width: 590px;
        position: absolute;
        bottom: 1px;
        left: 6px;
    }}
@media (max-width: 601px){
    .About-Imagebar ul {
        width: 590px;
        position: absolute;
        bottom: 1px;
        left: 4px;
    }}
    @media screen and (max-width: 504px) {
        .About-Imagebar-image{
            width: 100%;
            height: 286px;
            object-fit: cover;
            object-position: 0% 50%;
            }
        .About-Imagebar ul{
            display: none;
        }
        .selected{
            margin-top: 0.5rem;
            display: block;
            
        }
        
        .About-Imagebar span{
            font-size: 25px;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             white-space:normal;
        }
        
    }
    
    
    
@media screen and (max-width: 480px) {
    .About-Imagebar-image{
        width: 100%;
        height: 286px;
        object-fit: cover;
        object-position: 0% 50%;
        }
    .About-Imagebar ul{
        display: none;
    }
    .selected{
        margin-top: 0.5rem;
        display: block;
        
    }
    
    .About-Imagebar span{
        font-size: 25px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         white-space:normal;
    }
    
}

.About-Imagebar-image{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}