
.image-icon{
    height: 62px;
    width: auto;
}


.navigationbar {
    color: #1F1F1F;
}

.navigationbar a {
    color: #0074c7;
}

.navigationbar a:hover,
.navigationbar a[data-hover] {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.navigationbar .cross-button-icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
}

.navigationbar .form-child {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    
}

.navigationbar .form-input {
    width: 100%;
    outline: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background: #FFFFFF;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 2.5rem;
    height: 41px;
    border-radius: 0.375rem;
    border: 1px solid;
    border-color: #0074c7;
}


.navigationbar .form-input:hover,
.navigationbar .form-input[data-hover] {
    border: 1px solid;
    border-color: #0074c7;
}


.navigationbar .form-input[aria-readonly=true],
.navigationbar .form-input[data-readonly],
.navigationbar .form-input[readonly] {
    box-shadow: none !important;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}


.navigationbar .form-input[aria-disabled=true],
.navigationbar .form-input[aria-disabled=true]:focus,
.navigationbar .form-input[aria-disabled=true]:hover,
.navigationbar .form-input[data-disabled],
.navigationbar .form-input[data-disabled]:focus,
.navigationbar .form-input[data-disabled]:hover,
.navigationbar .form-input[disabled],
.navigationbar .form-input[disabled]:focus,
.navigationbar .form-input[disabled]:hover {
    opacity: 0.4;
    cursor: not-allowed;
}


.navigationbar .form-input:focus,
.navigationbar .form-input[data-focus] {
    border: 1px solid;
    border-color: #0074c7;
    box-shadow: none;
}


.navigationbar .form-input[aria-invalid=true],
.navigationbar .form-input[data-invalid] {
    border-color: #E53E3E;
    box-shadow: 0 0 0 1px #E53E3E;
}


.navigationbar .ham-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    width: auto;
    line-height: 1.2;
    border-radius: 0.375rem;
    font-weight: 500;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: transparent;
    border: 0;
    padding: 0;
}

.navigationbar .ham-button:focus,
.navigationbar .ham-button[data-focus] {
    box-shadow: 0 0 0 3px #0074c7;
    background: transparent;
}

.navigationbar .ham-button[aria-disabled=true],
.navigationbar .ham-button[aria-disabled=true]:focus,
.navigationbar .ham-button[aria-disabled=true]:hover,
.navigationbar .ham-button[data-disabled],
.navigationbar .ham-button[data-disabled]:focus,
.navigationbar .ham-button[data-disabled]:hover,
.navigationbar .ham-button[disabled],
.navigationbar .ham-button[disabled]:focus,
.navigationbar .ham-button[disabled]:hover {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
}


.navigationbar .ham-button:hover,
.navigationbar .ham-button[data-hover] {
    -webkit-text-decoration: none;
    text-decoration: none;
    background: rgba(0,116,199,0.1);
}

.navigationbar .ham-button:hover[aria-disabled=true],
.navigationbar .ham-button:hover[aria-disabled=true]:focus,
.navigationbar .ham-button:hover[aria-disabled=true]:hover,
.navigationbar .ham-button:hover[data-disabled],
.navigationbar .ham-button:hover[data-disabled]:focus,
.navigationbar .ham-button:hover[data-disabled]:hover,
.navigationbar .ham-button:hover[disabled],
.navigationbar .ham-button:hover[disabled]:focus,
.navigationbar .ham-button:hover[disabled]:hover,
.navigationbar .ham-button[data-hover][aria-disabled=true],
.navigationbar .ham-button[data-hover][aria-disabled=true]:focus,
.navigationbar .ham-button[data-hover][aria-disabled=true]:hover,
.navigationbar .ham-button[data-hover][data-disabled],
.navigationbar .ham-button[data-hover][data-disabled]:focus,
.navigationbar .ham-button[data-hover][data-disabled]:hover,
.navigationbar .ham-button[data-hover][disabled],
.navigationbar .ham-button[data-hover][disabled]:focus,
.navigationbar .ham-button[data-hover][disabled]:hover {
    background: initial;
}

.navigationbar .ham-icon {
    width: auto;
    height: 15px;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}

.navigationbar .links {
    display: none;
}

.navigationbar .link-item {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: none;
    color: inherit;
    font-weight: 600;
}

.navigationbar .link-item:hover,
.navigationbar .link-item[data-hover] {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--link-color);
}

.navigationbar .link-item:focus-within
{
    color :#005C9C;
}

.navigationbar .link-item:focus,
.navigationbar .link-item[data-focus] {
    box-shadow: 0 0 0 3px rgba(66,153,225,0.6);
}

.navigationbar .my-container {
    
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 0.75rem 1.25rem;
    position: relative;
}

.navigationbar .my-stack-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navigationbar .my-stack-one > *:not(style) ~ *:not(style) {
    margin-left: 1rem;
    margin-top: 0;
}

.navigationbar .my-stack-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.navigationbar .my-stack-two > *:not(style) ~ *:not(style) {
    margin-left: 1.5rem;
    margin-top: 0;
}

.navigationbar .my-stack-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.navigationbar .my-stack-three > *:not(style) ~ *:not(style) {
    margin-left: 0.5rem;
    margin-top: 0;
}


.navigationbar .nav-child {
    background: #FFFFFF;
    --link-color: #0074c7;
}

.navigationbar .nav-header {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 83px 1fr;
}

.navigationbar .nav-logo {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: none;
    color: inherit;
    height: 51px;
}

.navigationbar .nav-logo:hover,
.navigationbar .nav-logo[data-hover] {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.navigationbar .nav-logo:focus,
.navigationbar .nav-logo[data-focus] {
    box-shadow: 0 0 0 3px rgba(66,153,225,0.6);
}

.navigationbar .search-bar-button-div {
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 2;
    border: 0;
    padding: 0;
}

.navigationbar .search-bar-child {
    position: absolute;
    right: 0;
    width: 100vw;
    max-width: calc(100vw - 92px);
    background: #FFFFFF;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigationbar .search-bar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    
}

.navigationbar .search-bar-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.navigationbar .search-button-icon {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}


.navigationbar .search-button-invisible {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    width: auto;
    line-height: 1.2;
    border-radius: 0 0.25rem 0.25rem 0;
    font-weight: 500;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: #0074c7;
    color: #FFFFFF;
    padding: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}

.navigationbar .search-button-invisible:focus,
.navigationbar .search-button-invisible[data-focus] {
    box-shadow: inset 0 2px 2px #005694;
    background: #0074c7;
}

.navigationbar .search-button-invisible[aria-disabled=true],
.navigationbar .search-button-invisible[aria-disabled=true]:focus,
.navigationbar .search-button-invisible[aria-disabled=true]:hover,
.navigationbar .search-button-invisible[data-disabled],
.navigationbar .search-button-invisible[data-disabled]:focus,
.navigationbar .search-button-invisible[data-disabled]:hover,
.navigationbar .search-button-invisible[disabled],
.navigationbar .search-button-invisible[disabled]:focus,
.navigationbar .search-button-invisible[disabled]:hover {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
}

.navigationbar .search-button-invisible:hover,
.navigationbar .search-button-invisible[data-hover] {
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #005694;
}

.navigationbar .search-button-invisible:hover[aria-disabled=true],
.navigationbar .search-button-invisible:hover[aria-disabled=true]:focus,
.navigationbar .search-button-invisible:hover[aria-disabled=true]:hover,
.navigationbar .search-button-invisible:hover[data-disabled],
.navigationbar .search-button-invisible:hover[data-disabled]:focus,
.navigationbar .search-button-invisible:hover[data-disabled]:hover,
.navigationbar .search-button-invisible:hover[disabled],
.navigationbar .search-button-invisible:hover[disabled]:focus,
.navigationbar .search-button-invisible:hover[disabled]:hover,
.navigationbar .search-button-invisible[data-hover][aria-disabled=true],
.navigationbar .search-button-invisible[data-hover][aria-disabled=true]:focus,
.navigationbar .search-button-invisible[data-hover][aria-disabled=true]:hover,
.navigationbar .search-button-invisible[data-hover][data-disabled],
.navigationbar .search-button-invisible[data-hover][data-disabled]:focus,
.navigationbar .search-button-invisible[data-hover][data-disabled]:hover,
.navigationbar .search-button-invisible[data-hover][disabled],
.navigationbar .search-button-invisible[data-hover][disabled]:focus,
.navigationbar .search-button-invisible[data-hover][disabled]:hover {
    background: initial;
}

/* search button visible */

.navigationbar .search-button-visible {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition-duration:  500ms;
    transition-duration:  500ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    width: auto;
    line-height: 1.2;
    border-radius: 0.375rem;
    font-weight: 400;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 14px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: transparent;
    border: 0;
    padding: 0;
    margin-left: 0.75rem;
}


.navigationbar .search-button-visible:focus,
.navigationbar .search-button-visible[data-focus] {
    box-shadow: 0 0 0 3px #0074c7;
    background: transparent;
}

.navigationbar .search-button-visible[aria-disabled=true],
.navigationbar .search-button-visible[aria-disabled=true]:focus,
.navigationbar .search-button-visible[aria-disabled=true]:hover,
.navigationbar .search-button-visible[data-disabled],
.navigationbar .search-button-visible[data-disabled]:focus,
.navigationbar .search-button-visible[data-disabled]:hover,
.navigationbar .search-button-visible[disabled],
.navigationbar .search-button-visible[disabled]:focus,
.navigationbar .search-button-visible[disabled]:hover {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
}

.navigationbar .search-button-visible:hover,
.navigationbar .search-button-visible[data-hover] {
    -webkit-text-decoration: none;
    text-decoration: none;
    background: rgba(0,116,199,0.1);
}

.navigationbar .search-button-visible:hover[aria-disabled=true],
.navigationbar .search-button-visible:hover[aria-disabled=true]:focus,
.navigationbar .search-button-visible:hover[aria-disabled=true]:hover,
.navigationbar .search-button-visible:hover[data-disabled],
.navigationbar .search-button-visible:hover[data-disabled]:focus,
.navigationbar .search-button-visible:hover[data-disabled]:hover,
.navigationbar .search-button-visible:hover[disabled],
.navigationbar .search-button-visible:hover[disabled]:focus,
.navigationbar .search-button-visible:hover[disabled]:hover,
.navigationbar .search-button-visible[data-hover][aria-disabled=true],
.navigationbar .search-button-visible[data-hover][aria-disabled=true]:focus,
.navigationbar .search-button-visible[data-hover][aria-disabled=true]:hover,
.navigationbar .search-button-visible[data-hover][data-disabled],
.navigationbar .search-button-visible[data-hover][data-disabled]:focus,
.navigationbar .search-button-visible[data-hover][data-disabled]:hover,
.navigationbar .search-button-visible[data-hover][disabled],
.navigationbar .search-button-visible[data-hover][disabled]:focus,
.navigationbar .search-button-visible[data-hover][disabled]:hover {
    background: initial;
}


.navigationbar .search-form {
    width: 100%;
}


.navigationbar .spacer {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-self: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.search-bar-child.close{
    opacity: 0;
    visibility: hidden;
    transform: translateX(1rem);
    transition: all 300ms;
    
}

.search-bar-child.open{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 500ms;
}




/*media query */

@media (min-width:320px) {
    
    .navigationbar .search-bar-div {
        width: unset;
    }
} 

@media (max-width:320px) {
    .navigationbar .ham-button {
        height: auto;
        line-height: 1.5;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        white-space: unset;
    }
    .navigationbar .search-button-invisible {
        height: auto;
        line-height: 1.5;
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;
        white-space: unset;
    }
    .navigationbar .search-button-visible {
        height: auto;
        line-height: 1.5;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        white-space: unset;
    }
}


@media (min-width:580px) {
    .navigationbar .links {
        display: block;
    }
    .navigationbar .search-bar-div {
        width: unset;
    }
} 

@media screen and (min-width:61rem) {
    .navigationbar .my-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navigationbar .search-bar-child {
        max-width: 320px;
    }
}


@media screen and (min-width:71.25rem) {
    .navigationbar .links {
        display: block;
    }
    .navigationbar .my-container {
        padding: 1.25rem 2.5rem;
    }
    .navigationbar .nav-header {
        grid-template-columns: 1fr 102px 1fr;
    }
    .navigationbar .nav-logo {
        height: 62px;
    }
    .navigationbar .search-bar-child {
        max-width: 360px;
    }
    .navigationbar .search-bar-div {
        width: unset;
    }
}

@media screen and (min-width:88.75rem) {
    .navigationbar .my-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}




















 

