.chakra {
    color: #1F1F1F;
}
.chakra a {
    color: #0074c7;
}
.chakra a:hover,
.chakra a[data-hover] {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.chakra {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.chakra .wef-1rr3t8u {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 0;
    -webkit-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
    margin-top: 2rem;
}
@media screen and (min-width:71.25rem) {
    .chakra .wef-1rr3t8u {
        -webkit-transform: translateY(-4rem);
        -ms-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
}
@media screen and (min-width:976px) {
    .chakra .wef-1rr3t8u {
        margin-top: 4rem;
    }
}

.chakra .wef-jsnnc {
    display: grid;
    grid-gap: 1.5rem;
    background: #32363E;
    padding: 1.5rem 1rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 960px;
}
@media screen and (min-width:61rem) {
    .chakra .wef-jsnnc {
        grid-template-columns: 102px auto auto;
    }
}
@media screen and (min-width:71.25rem) {
    .chakra .wef-jsnnc {
        padding: 2.5rem;
    }
}


.chakra .wef-1jogvpo {
    width: 102px;
    height: 63px;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #FFFFFF;
    vertical-align: middle;
    margin-bottom: 0.5rem;
}
@media screen and (min-width:61rem) {
    .chakra .wef-1jogvpo {
        margin-bottom: 0;
    }
}


.chakra .wef-1aiqzid {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
@media screen and (min-width:61rem) {
    .chakra .wef-1aiqzid {
        margin-bottom: 0;
    }
}



.chakra .wef-10sxrub {
    color: #FFFFFF;
    margin-bottom: 1rem;
}
@media screen and (min-width:61rem) {
    .chakra .wef-10sxrub {
        margin-bottom: 0;
    }
}

.chakra .wef-4302v8 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}




.chakra .wef-16au7hf {
    width: 100%;
    outline: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background: #FFFFFF;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 2.5rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border: 0;
    border-color: inherit;
}
.chakra .wef-16au7hf:hover bg,
.chakra .wef-16au7hf[data-hover] bg {
    box-shadow: 0 0 2px #32363E;
}
.chakra .wef-16au7hf[aria-readonly=true],
.chakra .wef-16au7hf[data-readonly],
.chakra .wef-16au7hf[readonly] {
    box-shadow: none !important;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.chakra .wef-16au7hf[aria-disabled=true],
.chakra .wef-16au7hf[aria-disabled=true]:focus,
.chakra .wef-16au7hf[aria-disabled=true]:hover,
.chakra .wef-16au7hf[data-disabled],
.chakra .wef-16au7hf[data-disabled]:focus,
.chakra .wef-16au7hf[data-disabled]:hover,
.chakra .wef-16au7hf[disabled],
.chakra .wef-16au7hf[disabled]:focus,
.chakra .wef-16au7hf[disabled]:hover {
    opacity: 0.4;
    cursor: not-allowed;
}
.chakra .wef-16au7hf:focus,
.chakra .wef-16au7hf[data-focus] {
    box-shadow: 0 0 2px #32363E;
}
.chakra .wef-16au7hf[aria-invalid=true],
.chakra .wef-16au7hf[data-invalid] {
    border-color: #E53E3E;
    box-shadow: 0 0 0 1px #E53E3E;
}



.chakra .wef-1s6lxpf {
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 2;
    border: 0;
    padding: 0;
}



.chakra .wef-105qunb {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    width: auto;
    line-height: 1.2;
    border-radius: 0 0.25rem 0.25rem 0;
    font-weight: 500;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: #29a6ff;
    color: #FFFFFF;
    padding: 0;
}
.chakra .wef-105qunb:focus,
.chakra .wef-105qunb[data-focus] {
    box-shadow: inset 0 2px 2px #0080DC;
    background: #29a6ff;
}
.chakra .wef-105qunb[aria-disabled=true],
.chakra .wef-105qunb[aria-disabled=true]:focus,
.chakra .wef-105qunb[aria-disabled=true]:hover,
.chakra .wef-105qunb[data-disabled],
.chakra .wef-105qunb[data-disabled]:focus,
.chakra .wef-105qunb[data-disabled]:hover,
.chakra .wef-105qunb[disabled],
.chakra .wef-105qunb[disabled]:focus,
.chakra .wef-105qunb[disabled]:hover {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
}
.chakra .wef-105qunb:hover,
.chakra .wef-105qunb[data-hover] {
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #0080DC;
}
.chakra .wef-105qunb:hover[aria-disabled=true],
.chakra .wef-105qunb:hover[aria-disabled=true]:focus,
.chakra .wef-105qunb:hover[aria-disabled=true]:hover,
.chakra .wef-105qunb:hover[data-disabled],
.chakra .wef-105qunb:hover[data-disabled]:focus,
.chakra .wef-105qunb:hover[data-disabled]:hover,
.chakra .wef-105qunb:hover[disabled],
.chakra .wef-105qunb:hover[disabled]:focus,
.chakra .wef-105qunb:hover[disabled]:hover,
.chakra .wef-105qunb[data-hover][aria-disabled=true],
.chakra .wef-105qunb[data-hover][aria-disabled=true]:focus,
.chakra .wef-105qunb[data-hover][aria-disabled=true]:hover,
.chakra .wef-105qunb[data-hover][data-disabled],
.chakra .wef-105qunb[data-hover][data-disabled]:focus,
.chakra .wef-105qunb[data-hover][data-disabled]:hover,
.chakra .wef-105qunb[data-hover][disabled],
.chakra .wef-105qunb[data-hover][disabled]:focus,
.chakra .wef-105qunb[data-hover][disabled]:hover {
    background: initial;
}
@media (max-width:320px) {
    .chakra .wef-105qunb {
        height: auto;
        line-height: 1.5;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        white-space: unset;
    }
}

.chakra .wef-onkibi {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}


.chakra .wef-1vip485 {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
}
@media screen and (min-width:40rem) {
    .chakra .wef-1vip485 {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:61rem) {
    .chakra .wef-1vip485 {
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:71.25rem) {
    .chakra .wef-1vip485 {
        grid-gap: 2.5rem;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 2rem;
    }
}



.chakra .wef-wkento {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid;
    border-top-color: rgba(0,116,199,0.3);
    padding-top: 0.75rem;
    padding-bottom: 2rem;
}
@media screen and (min-width:71.25rem) {
    .chakra .wef-wkento {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.chakra .wef-1aifeqs {
    color: var(--link-color);
    font-size: 14px;
}


.chakra .wef-7j5z8a {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: none;
    color: var(--link-color,#0074c7);
    font-size: 14px;
    padding-bottom: 6px;
}
.chakra .wef-7j5z8a:hover,
.chakra .wef-7j5z8a[data-hover] {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.chakra .wef-7j5z8a:focus,
.chakra .wef-7j5z8a[data-focus] {
    box-shadow: 0 0 0 3px rgba(66,153,225,0.6);
}


.updatelogo{
    height: 77px;
    width: 73px;
    border-radius: 8px;
}



.chakra *, .chakra *::before, .chakra *::after {
    border-width: 0;
    border-style: solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.chakra .wef-g0ppx3 {
    position: relative;
    background: #F2F9FE;
    --link-color: #0074c7;
    --border-color: #32363E;
    padding: 0 35px ;
}






.chakra .wef-1501xib {
    border-top-color: var(--border-color,#1F1F1F);
    position: relative;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 1px;
}


.chakra .wef-1501xib::before {
    background: var(--border-color,#1F1F1F);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 4px;
}

.chakra .wef-173m771 {
    display: flex;
    flex-direction: column;
}


.chakra .wef-hrf8xs {
    font-weight: 600;
    line-height: 1.25;
    transition: all 200ms ease-in-out 0s;
    color: var(--border-color,#1F1F1F);
    font-size: 16px;
}

.chakra .wef-1ls42ek {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.chakra .wef-bp2r9n {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(68, 90, 163);
}


.chakra .wef-1ls42ek > *:not(style) ~ *:not(style) {
    margin-left: 1rem;
    margin-top: 0;
}


.chakra .wef-1e6xawk {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(83, 169, 221);
}

.chakra .wef-y705st {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(53, 121, 177);
}


.chakra .wef-1845p8s {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(207, 60, 52);
}



.chakra .wef-erlri7 {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
}





.menu .wef-fxxg6w {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.menu .wef-fxxg6w:hover, .menu .wef-fxxg6w[data-hover] {
    opacity: 0.8;
}

.menu .wef-yekspl {
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
}

.chakra .wef-bp2r9n {
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(68, 90, 163);
}


.chakra .wef-yekspl {
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
}


.chakra .wef-7j5z8a {
    transition: all 0.15s ease-out;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: var(--link-color,#0074c7);
    font-size: 14px;
}


.chakra .wef-7j5z8a:hover, .chakra .wef-7j5z8a[data-hover] {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}




.chakra .wef-vjz5tp {
    display: flex;
    flex-direction: column;
}


.chakra .footer-text{
    margin-block-start: 0;
}

